<% if logged_in? %>

 <% unless topic.favorite_users(current_user.id).blank? %>
  <%= link_to topic_favorite_path(topic_id: topic.id ,id: topic.favorites[0].id), method: :delete, remote: true do %> 
    <div class="vertical_like">
        <i class="material-icons red-text">favorite</i>
        <span class="red-text">
          <%= topic.favorites_count %>
        </span>  
    </div>
  <% end %>  
  <% else %> 
    <%= link_to topic_favorites_path(topic.id), method: :post, remote: true do %>
      <div class="vertical_like">
         <i class="material-icons grey-text text-darken-2">favorite_border</i>
         <span class="grey-text text-darken-2">
           <%= topic.favorites_count %>
         </span>
      </div>
    <% end %>  
  <% end %> 
  
 <% else %> 
 
   <% if topic.favorites_count > 0 %>
     <div class="vertical_like">
        <i class="material-icons red-text">favorite</i>
        <span class="red-text">
          <%= topic.favorites_count %>
        </span>
     </div>
   <% else %>
    <div class="vertical_like">
      <i class="material-icons grey-text text-darken-2">favorite_border</i>
      <span class="grey-text text-darken-2">
        <%= topic.favorites_count %>
      </span>
     </div>
   <% end %>  
<% end %>   