<div class="topic-index-wrapper">
  <div class="container">
      <div class="row">
        <div class="col-md-18">
           <% @topics.each do |topic| %>
             <div class="topic-index-single">
               <h2 class="topic-author">
                 <%= topic.user.name %>
               </h2>
                 <div class="col-md-4">
                   <%= image_tag topic.image.url %>
                 </div>   
                   <div class="col-md-4">
                     <%= image_tag topic.image1.url %>
                   </div> 
                     <div class="col-md-4">
                       <%= image_tag topic.image2.url %>
                     </div> 
                         <p class="topic-text">
                          <%= topic.description %>
                         </p>
                         <%= link_to "削除", topics_destroy_path(@topics), method: :delete %>
                          <%= link_to "投票", favorites_path(topic_id: topic.id), method: :post %>
                          <%= topic.favorite_users.count %>
             </div>
           <% end %>
        </div> 
      </div>
  </div>    
</div>         
          
         
           
            

