<div class="topic-index-wrapper">
  <div class="container">
     <% @topics.each do |topic| %>
        <div class="aaaa" >
          <div class="row1"> 
               <div class="col-md-4">
                  <%= image_tag topic.image.url, class:"bbb" %>
                  <%= topic.description %>
                  
                 <div id="favorites_buttons_<%= topic.id %>">
                  <%= render partial: 'favorites/favorite', locals: { topic: topic, favorites: @favorites} %>
                 </div>
                   <%= link_to "変更",edit_topic_path(:id) %>
                   <%= link_to "削除", topics_destroy_path(@topics), method: :delete %>
               </div> 
          </div>
          
        </div>        
     <% end %> 
  </div>    
</div> 
          
    
            
                         
          
         
           
            

