<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-white">Which do you recommend ?</h1>
    <h2 class="text-white">sub title</h2>
     <% @topic = Topic.new unless @topic %>
       <div class="row">
         <%= form_for @topics do |f| %>
           <div class="col-md-4 ">
             <%= f.label :image %>
             <%= f.file_field :image %>
           </div>
           <div class="col-md-4 ">
             <%= f.label :image1 %>
             <%= f.file_field :image1 %>
           </div>
           <div class="col-md-4 ">
             <%= f.label :image2 %>
             <%= f.file_field :image2 %>
           </div>
             <%= f.label :description %><br>
             <%= f.text_field :description %>
             <%= f.submit '投稿', class: 'btn btn-black btn-block' %>
           </div> 
         <% end %> 
  </div>
</div>         
      
           
            
      
  
            