<!DOCTYPE html>
<html>
  <head>
    <title>Which do you recommend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
      <div class="container">
        <%= link_to users_new_path  do %>
          <span><%= image_tag "cooltext.png", class: "nav-brand" %></span>
        <% end %>
      </div>
      <div class="nav navbar-nav navbar-right">
        <ul>
          <li><%= link_to 'log_in ', users_new_path %></li>
        </ul>
      </div>
    </nav>
　 <%= yield %>
  </body>
</html>
      
       
         　
     
  